[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-storage-blob = "~=12.27"
boto3 = "~=1.40"
dbt-core = "~=1.10"
dbt-postgres = "~=1.9"
deepdiff = "~=8.6"
flask = "~=3.1"
flask-cors = "~=6.0"
moto = "~=5.1"
psycopg2-binary = "~=2.9"
pyarrow = "~=22.0"
pyiceberg = "~=0.10"
pyspark = {extras = ["sql"], version = "==3.5.3"}
pytest-postgresql = "~=7.0"
psycopg-binary = "~=3.2"
sqlalchemy = "~=2.0"
duckdb = "==1.5.3"

[dev-packages]
black = "==25.9.0"
pytest = "~=8.4"
pytest-rerunfailures = "~=15.0"
pytest-split = "~=0.10"
setuptools = "~=80.9"
wheel = "~=0.45"

[requires]
python_version = "3.11"
